.opening-blurb{
	padding: 8px 10px;
	font: 18px/20px Arial, Helvetica, sans-serif;
	color: black;
	background: grey;
	background: rgba(255,255,255,0.40);
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	border-radius: 5px;
	position: relative;
	top: 70px;
	left: 3%;
	/*height: 20%;*/
	/*min-height: 100px;*/
	/*max-height:500px;*/
    width: 90%;
    max-width: 370px;
/*    overflow: scroll;*/
}